$fondo-uno: #916953;
$fondo-dos: #CF7688;
$fondo-tres: #FAF6F6;
$texto-primarios: #fff;
$texto-secundario: #000;
$fuente: 'Open sans', sans-serif;
$fuente-light: 300;
$fuente-regular: 300;
$fuente-bold: 300;